*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #00011f;
}

.addBtn{
      border: 3px solid rgb(255, 195, 195);
      padding: 4px 10px;
      background: none; 
      color: rgb(255, 195, 195);
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;
}
.addBtn:focus{
    outline: none;
}

.todo-app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 20px;
}

.todoContainer{
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid grey;
    overflow: hidden;
    height: calc(100vh - 48vh);
}


.listHeader{
    display: flex;
    justify-content: center;
    font-weight: 500;
    border-bottom: 2px solid grey;
    padding: 10px;
    background-color: #3f3f3f;
    color: rgb(255, 195, 195);
    font-weight: 600;
}

.listHeader:hover {
   background-position: right center
}


.Addhere{
  min-height: 200px;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* CSS */

body {
 background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%)
 
}
input:focus{
 outline: none;
}
textarea:focus{
 outline: none;
}

.fill {
 display: flex;
 flex-direction: column;
  border: 0.05em solid grey;
  cursor: pointer;
  min-height: 130px;
  max-height: 300px;
  background-color: #3f3f3f;
  color: rgb(255, 195, 195);
  max-width: 400px;
  /* width: 100%; */
}

textarea {
  height: 100%;
  background-color: #3f3f3f;
  color: rgb(255, 195, 195);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}
.newTextArea  > textarea {
  min-height: 150px;
}

input[type="text"]::placeholder {
   padding: 7px;
}

textarea::placeholder{
  text-align: center;
  padding-top: 15px;
}

input[type = "text"] {
  min-height: 30px;
  background-color: #3f3f3f;
  color: rgb(255, 195, 195);
  border: none;
  border-bottom: 0.01em solid grey;
}

input[type = "text"]::placeholder {
  text-align: center;

}

.hold {
  border: solid 5px #ccc;
}

.newTextArea{
  width: 400px;
}

.tasks {
  display: inline-flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.invisible{
  display: none;
}

.hovered {
  background: #555555;
  border: 1px dashed rgb(255, 195, 195);
}

.dragMe{
  height: 15px;
  background-color:rgb(44, 44, 44);
}

@media screen and (max-width: 600px) {
  .todoContainer{
    width: 100%;
    height: calc(100vh - 60vh);
  }
}