*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 20px;
}

.todoContainer{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    border: 1px solid grey;
    overflow: hidden;
    height: 520px;
}


.listHeader{
    display: flex;
    justify-content: center;
    font-weight: 500;
    border-bottom: 2px solid grey;
    padding: 10px;
}
.inputTextArea{
    width: 100%;
    border: 2px solid rgb(0, 217, 255);
    min-height: 20px;
}

.Addhere{
  min-height: 200px;
}

/* CSS */

body {
  /* background: darksalmon; */
}

.fill {
  /* background-image: url('https://source.unsplash.com/random/150x150'); */
  position: relative;
  /* height: 150px; */
  /* width: 200px; */
  top: 5px;
  left: 5px;
  cursor: pointer;
  min-height: 100px;
  max-height: 300px;
}

.hold {
  border: solid 5px #ccc;
}

.newTextArea{
  width: 400px;
}

.tasks {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}
